# Coronaviridae S Protein - UniProtKB - EMBL mapping Dataset Analysis

In [1]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", None)
pd.set_option('display.width', 1000)
from ast import literal_eval

UNIPROT_ID = "uniprot_id"
TAX_ID = "tax_id"
SEQUENCE = "seq"
HOST_TAX_IDS = "host_tax_ids"
UNIPROT_HOST_TAX_IDS ="uniprot_host_tax_ids"
EMBL_REF_ID = "embl_ref_id"
EMBL_HOST_NAME ="embl_host_name"

In [2]:
def column_stats(df, column_name):
    n = df.shape[0]
    count_column_name = column_name + "_count"
    count_df = pd.DataFrame(df[column_name].value_counts()).reset_index()
    count_df.columns=[column_name, count_column_name]
    count_df[column_name + "_percent"] = count_df[count_column_name].apply(lambda x: int(x)/n*100)
    print(f"Number of unique values = {len(df[column_name].unique())}")
    print(f"{count_df}")

In [3]:
def print_seq_len_histogram(df, n_bins):
    sns.histplot(df["seq_len"])
    print(f"min seq len = {min(df['seq_len'])}")
    print(f"max seq len = {max(df['seq_len'])}")
    plt.show()
    
    freq, bins = np.histogram(df["seq_len"], bins=n_bins)
    n = df.shape[0]
    hist_map = []
    for i in range(n_bins):
        hist_map.append({"start": bins[i], "end":bins[i+1], "count": freq[i], "percentage": freq[i]/n*100})
    hist_df = pd.DataFrame(hist_map)
    print(hist_df)

In [4]:
def analyze_df(file_path):
    df = pd.read_csv(file_path)
#    df["seq_len"] = df["seq"].apply(lambda x: len(x))
    print("df size = ", df.shape)
    print(df.head())
    column_stats(df, "tax_id")
    column_stats(df, "embl_host_name")
    return df

## UniProtKB sequences

coronaviridae_s_uniprot_uniprot_metadata.csv

coronaviridae_s_uniprot_uniprot_metadata_embl_host_mapping.csv

coronaviridae_s_uniprot_uniprot_metadata_embl_hosts.csv

coronaviridae_s_uniprot_uniprot_metadata_embl_hosts_pruned.csv

coronaviridae_s_uniprot_uniprot_metadata_embl_hosts_pruned_metadata.csv

coronaviridae_s_uniprot_uniprot_metadata_embl_hosts_pruned_metadata_corrected.csv

coronaviridae_s_uniprot_uniprot_metadata_embl_hosts_pruned_metadata_corrected_species_virus_host_vertebrates.csv

coronaviridae_s_uniprot_uniprot_metadata_embl_hosts_pruned_metadata_corrected_species_virus_host_vertebrates_w_seq_t0.01_c8.csv

In [45]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/uniprot/coronaviridae_s_uniprot_uniprot_metadata_embl_hosts_pruned_metadata_corrected_species_virus_host_vertebrates_w_seq_t0.01_c8.csv")
# df = pd.read_csv(file_path, on_bad_lines=None, converters={2: literal_eval}, names=[UNIPROT_ID, TAX_ID, HOST_TAX_IDS, EMBL_REF_ID])
df = pd.read_csv(file_path)
print(df.shape)
df.head()

(3567, 12)

   uniprot_id   tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name virus_host_name                                       virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank                                                seq human_binary_label
0  A0A6G8HJ43    28295                  NaN  QIM40843.1           ['pig']      sus scrofa                  Porcine epidemic diarrhea virus          species               9823               species  MKSLTYFWLFLPVLSTLSLPQDVTRCSANTNFRRFFSKFNVQAPAV...   NOT homo sapiens
1  A0A0G3FCN8    28295                  NaN  AKJ85723.1         ['swine']      sus scrofa                  Porcine epidemic diarrhea virus          species               9823               species  MTPLIYFWLFLPVLLTLSLPQDVTRCQSTINFRRFFSKFNVQAPAV...   NOT homo sapiens
2  A0A8B1JDD3  2697049               [9606]  QTZ33356.1  ['Homo sapiens']    homo sapiens  Severe acute respiratory syndrome coronavirus 2          no rank               9606               species  SQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSSVLHSTQDLFLPF...       homo sapiens
3  A0A6G8HJ63    28295                  NaN  QIM40847.1           ['pig']      sus scrofa                  Porcine epidemic diarrhea virus          species               9823               species  MKSLTYFWLFLPVLSTLSLPQDVTRCQSTINFRRFFSKFNVQAPAV...   NOT homo sapiens
4  A0A0H4A793    28295                  NaN  AKN45969.1         ['swine']      sus scrofa                  Porcine epidemic diarrhea virus          species               9823               species  MKSLTYFWLFLPVLSTLSLPQDVTRCSANTNFRRFFSKFNVQAPAV...   NOT homo sapiens

In [40]:
sum(df["embl_ref_id"] == "None")
df[df["embl_ref_id"] == "None"]

Empty DataFrame
Columns: [uniprot_id, tax_id, uniprot_host_tax_ids, embl_ref_id, embl_host_name, virus_host_name, virus_name, virus_taxon_rank, virus_host_tax_id, virus_host_taxon_rank]
Index: []

In [46]:
column_stats(df, "tax_id")

Number of unique values = 58
     tax_id  tax_id_count  tax_id_percent
0     28295          1544       43.285674
1   2697049          1018       28.539389
2   1335626           267        7.485282
3     31631           182        5.102327
4     12663            83        2.326885
5     11128            76        2.130642
6     11120            62        1.738155
7     11153            51        1.429773
8    277944            45        1.261564
9   2501420            43        1.205495
10   290028            41        1.149425
11    11146            37        1.037286
12    11149            19        0.532660
13    11137            15        0.420521
14  1479610            11        0.308382
15    42005             9        0.252313
16  1766554             8        0.224278
17  1586324             6        0.168209
18  1895985             4        0.112139
19    11135             4        0.112139
20   694014             3        0.084104
21   215681             2        0.056070
22   228330             2        0.056070
23   627435             1        0.028035
24   422219             1        0.028035
25   422217             1        0.028035
26   422218             1        0.028035
27   422214             1        0.028035
28   422215             1        0.028035
29   422220             1        0.028035
30   166124             1        0.028035
31   398809             1        0.028035
32   228404             1        0.028035
33  1263720             1        0.028035
34  1298362             1        0.028035
35  1306931             1        0.028035
36   398808             1        0.028035
37  1235996             1        0.028035
38  2421386             1        0.028035
39   443239             1        0.028035
40   398811             1        0.028035
41   398810             1        0.028035
42   454952             1        0.028035
43   627433             1        0.028035
44   627431             1        0.028035
45   502101             1        0.028035
46   454951             1        0.028035
47   627436             1        0.028035
48   871683             1        0.028035
49   454955             1        0.028035
50   454953             1        0.028035
51  1052157             1        0.028035
52  1052158             1        0.028035
53   627432             1        0.028035
54   694003             1        0.028035
55   502100             1        0.028035
56   398812             1        0.028035
57   906887             1        0.028035

In [47]:
column_stats(df, "virus_host_name")

Number of unique values = 8
       virus_host_name  virus_host_name_count  virus_host_name_percent
0           sus scrofa                   1626                45.584525
1         homo sapiens                   1491                41.799832
2          felis catus                    104                 2.915615
3  camelus dromedarius                    103                 2.887581
4           bos taurus                     83                 2.326885
5        gallus gallus                     66                 1.850294
6          canis lupus                     51                 1.429773
7        bos grunniens                     43                 1.205495

In [43]:
df[["virus_host_tax_id", "virus_host_name", "uniprot_id"]].groupby(["virus_host_tax_id", "virus_host_name"]).count()

                                             uniprot_id
virus_host_tax_id virus_host_name
8839              anas platyrhynchos                  1
9031              gallus gallus                      66
9365              erinaceus europaeus                 8
9407              rousettus aegyptiacus               2
9408              rousettus leschenaulti              2
9534              chlorocebus aethiops                1
9598              pan troglodytes                     4
9606              homo sapiens                     1491
9612              canis lupus                        51
9646              ailuropoda melanoleuca              1
9685              felis catus                       104
9689              panthera leo                        2
9694              panthera tigris                     4
9796              equus caballus                      4
9823              sus scrofa                       1626
9838              camelus dromedarius               103
9844              lama glama                          1
9874              odocoileus virginianus              1
9883              hydropotes inermis                  1
9894              giraffa camelopardalis              3
9902              bison bonasus                       1
9913              bos taurus                         83
9962              kobus ellipsiprymnus                3
9974              manis javanica                      5
9986              oryctolagus cuniculus               4
10090             mus musculus                       10
10116             rattus norvegicus                   5
30521             bos grunniens                      43
30538             vicugna pacos                       2
35732             rattus tanezumi                     1
37179             hemitragus jemlahicus               1
39030             apodemus agrarius                   1
58065             eonycteris spelaea                  1
59463             myotis lucifugus                    1
59472             pipistrellus kuhlii                 1
59477             rhinolophus affinis                 8
59479             rhinolophus ferrumequinum           9
59485             vespertilio murinus                 1
69075             rattus losea                        1
77214             eidolon helvum                      1
77218             rhinolophus hipposideros            1
83752             rattus argentiventer               10
89399             rhinolophus sinicus                14
89462             bubalus bubalis                     3
98922             myotis daubentonii                  5
105273            vespertilio sinensis                3
105295            pipistrellus abramus                2
105297            apodemus peninsulae                 1
109476            rhinolophus euryale                 1
109485            hypsugo savii                       1
110938            laephotis capensis                  1
110941            hipposideros commersoni             1
153297            scotophilus kuhlii                 22
159324            myotis dasycneme                    1
159858            rhinolophus pusillus                4
169756            rhinolophus monoceros               1
188568            aselliscus stoliczkanus             1
188569            hipposideros pratti                 1
196296            rhinolophus cornutus                2
196889            rhinolophus macrotis                1
246814            pipistrellus pygmaeus               2
248811            niviventer confucianus              1
249020            hipposideros abae                   6
258959            tylonycteris pachypus              10
430491            rhinolophus stheno                  2
452646            neovison vison                      2
478698            chaerephon plicatus                 1
519037            rhinolophus blasii                  1
608659            rhinolophus malayanus               2
662561            rusa unicolor                       3
757341            erinaceus amurensis                 2
867834            hypsugo pulveratus                  2
1536428           hipposideros cf. ruber              7
1898393           rousettus sp.                       2
2080586           eptesicus japonensis                1
2603869           hipposideros vittatus               1
3075052           rhinolophus sp.                     2

### Records with duplicate EMBL ids

In [7]:
sum(df[EMBL_REF_ID].value_counts() > 1)

1

In [8]:
embl_ref_ids_count = df[EMBL_REF_ID].value_counts()

In [9]:
embl_ref_ids_count[embl_ref_ids_count > 1]

None    90
Name: embl_ref_id, dtype: int64

In [10]:
duplicate_embl_ids = embl_ref_ids_count[embl_ref_ids_count > 1]
duplicate_embl_ids.pop("None")
duplicate_embl_ids

Series([], Name: embl_ref_id, dtype: int64)

In [11]:
df_duplicate_embl = df[df[EMBL_REF_ID].isin(duplicate_embl_ids.index)]

In [12]:
df_duplicate_embl.shape

(0, 4)

In [13]:
df_duplicate_embl

Empty DataFrame
Columns: [uniref90_id, tax_id, host_tax_ids, embl_ref_id]
Index: []